*.iml
.gradle
/local.properties
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/libraries
/.idea/tasks.xml
/.idea/vcs.xml
/.idea/workspace.xml
/ext_assets
.gen
.classpath
.project